/* static/css/admin.css */
#header {
    background-color: #f8f9fa;
}

#header .logo {
    background-image: url(' \static\css\mmdu logo.jpg ');
    background-repeat: no-repeat;        
    background-size: contain;
    height: 50px; /* Adjust the size based on your logo */
    width: 200px; /* Adjust the size based on your logo */
}